{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/button.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/table.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/menu.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Lista de Productos</h1>
    <table class="ui single line table">
        <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(tGeneraProducts, 'Id', 'a.id') }}</th>
                <th{% if tGeneraProducts.isSorted('a.nomProduct') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(tGeneraProducts, 'Nombre', 'a.nomProduct') }}</th>
                <th>Descripcion</th>
                <th>Usuario de Creacion</th>
                <th>Fecha de Creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
        {% for tGeneraProduct in tGeneraProducts %}
            <tr>
                <td>{{ tGeneraProduct.id }}</td>
                <td><a href="{{ path('product_show', { 'id': tGeneraProduct.id }) }}">{{ tGeneraProduct.nomProduct }}</a></td>
                <td>{{ tGeneraProduct.desProduct }}</td>
                <td>{{ tGeneraProduct.usrCreate }}</td>
                <td>{% if tGeneraProduct.fecCreaci %}{{ tGeneraProduct.fecCreaci|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <button class="ui mini icon button" onclick="document.location.href='{{ path('product_show', { 'id': tGeneraProduct.id }) }}'">
                  <i class="info icon"></i>
                </button>
                <button class="ui mini icon button" onclick="document.location.href='{{ path('product_edit', { 'id': tGeneraProduct.id }) }}'">
                  <i class="write icon"></i>
                </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(tGeneraProducts) }}
<button class="tinny blue ui labeled icon button" onclick="document.location.href='{{ path('product_new') }}'">
  <i class="add circle icon"></i>
 Crear Producto 
</button>
    
{% endblock %}
