{% extends 'base.html.twig' %}
{% block stylesheets %} {{ parent() }}
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/button.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/input.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/segment.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/form.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/dropdown.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/inventario/Semantic-UI-CSS-master/components/transition.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h1>Crear Producto</h1>
     <div class="ui stacked segment" >
    {{ form_start(form,{ 'attr': {'class': 'ui form','onSubmit':'sendForm(event);'}  }) }}
         <div class="field">
                <label>Nombre</label> 
                        {{ form_widget(form.nomProduct) }}
        </div>
        <div class="field">
                <label>Descripcion</label> 
                        {{ form_widget(form.desProduct) }}
        </div>


        <input class="ui blue tiny button" type="submit" value="Nuevo Producto" />
    {{ form_end(form) }}
    <br><button onclick="document.location.href = '{{ path('product_index') }}';" class="ui compact blue labeled icon button">
        <i class="arrow left icon"></i>
        Atras
    </button>
    </div>
{% endblock %}
